{% extends 'base.html.twig' %}

{% block title %}Create Commande{% endblock %}

{% block body %}
    <h1>Create a New Commande</h1>

    <form method="POST">
        <!-- You can add more fields if necessary -->
        <button type="submit">Create Commande</button>
    </form>

{% endblock %}
